body {

}
.header {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.nav {
    list-style-type: none;
    display: flex;  
    justify-content: flex-start;
    font-size: 14px;
}
.nav>li {
    margin-left: 15px;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_img {
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../img/logo.svg);
    margin-right: 20px;
}
.logo_text {
    font-size: 24px;
    font-color: #202020;
}