body {
    font-family: 'Ubuntu', sans-serif;
}
.header {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
}
.wrap {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav {
    list-style-type: none;
    display: flex;  
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.nav>li {
    margin-left: 15px;
}
.nav>li>a {
    text-decoration: none;
    color: #202020;
}
.nav_btn {
    background-color: #5528FF;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    font-weight: 700;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_img {
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../img/logo.svg);
    margin-right: 20px;
}
.logo_text {
    font-size: 24px;
    color: #202020;
}
.page {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
.page-top{
    border-top: 1px solid #C2C2C2; 
}
.page h2 {
    position: absolute;
    top: -25px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    padding: 5px 15px;
    color: #C2C2C2;
}