.clients {
    display: none;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-row-gap: 40px;
        text-align: center;
    }

    @media (min-width: 1200px) {
        grid-template-rows: repeat(2, 1fr); 
        grid-template-columns: repeat(4, 25%);  
    }
}

.clients__carousel {
    margin: 0 auto;
    width: 300px;
    
    @media (min-width: 768px) {
        display: none;
    }

}

.testimonial__clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-clients .clients__carousel .owl-item img {
    width: unset;
}