.our-clients {
    padding-top: 71px;
}

.clients {
    display: none;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-row-gap: 40px;
        text-align: center;
    }

    @media (min-width: 1200px) {
        grid-template-rows: repeat(2, 1fr); 
        grid-template-columns: repeat(4, 25%);
        grid-row-gap: 44px;  
    }
}

.clients__carousel {
    margin: 0 auto;
    width: 300px;
    
    @media (min-width: 768px) {
        display: none;
    }

}

.clients__carousel .owl-carousel {
    z-index: 0;
}

.testimonial__clients {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.our-clients .clients__carousel .owl-item img {
    width: unset;
}

.owl-carousel .owl-nav button.owl-prev span {
    display: none;
}

.owl-carousel .owl-nav button.owl-next span {
    display: none;
}

.clients__carousel .owl-carousel .owl-nav button.owl-prev {
    width: 45px;
    height: 45px;
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 50px;
    left: 13%;
    transform: translate(-100%, 100%);
    outline: none;
    transition: 0.5s ease;

    @media (min-width: 375px) {
        left: 10%;
    }

}

.clients__carousel .owl-carousel .owl-nav button.owl-next {
    width: 45px;
    height: 45px;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 50px;
    left: 84%;
    transform: translateY(100%);
    outline: none;
    transition: 0.5s ease;

    @media (min-width: 375px) {
        left: 90%;
    }

}
