.services {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 95%;
    grid-row-gap: 38px;

    @media (min-width: 1200px) {
        grid-template-columns: 50% 50%;
    }
    
}

.services-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services__img {
    flex-basis: 120px;
    text-align: center;
}

.services__text {
    flex-basis: calc(80% - 165px);
}

.services h3 {
    font-size: 28px;
    font-weight: 400;
}

.services p {
    font-size: 14px;
    font-weight: 400;
    color: #b2b2b2;
}